<!-- <header class="bg-surface-primary border-bottom pt-6">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <li class="nav-item"><a href="/viewbuses" class="nav-link">View Buses</a></li>
                        <li class="nav-item"><a href="/profile" class="nav-link">Ratings</a></li>
                        <li class="nav-item"><a href="/search" class="nav-link">Search and Book</a></li>
                        <li class="nav-item"><a href="/profileface" class="nav-link">News Journal</a></li>
                        <li class="nav-item"><a href="/viewfeed" class="nav-link">Feedback</a></li>
                        <li class="nav-item"><a href="/login" class="nav-link">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzfGVufDB8fDB8fHww&w=1000&q=80');
            background-size: cover;
            background-position: center;
            min-height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .suggestions {
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid #ccc;
      border-top: none;
      position: absolute;
      background-color: #fff;
      width: 90%;
      max-height: 100px;
      overflow-y: auto;
      z-index: 1;
    }

    .suggestions li {
      padding: 5px 10px;
      cursor: pointer;
    }

    .suggestions li:hover {
      background-color: #f0f0f0;
    }

   
    .spacer-label {
      visibility: hidden;
    }

      
        #sidebar {
    background-color: transparent !important;
    border-right: 1px solid #070707;
}

        
    </style>
</head>

<body>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <h1 class="text-center mt-4">Bus Search</h1>
                <hr>

          
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="source">Source</label>
                            <input type="text" class="form-control" id="source" [(ngModel)]="source" placeholder="Enter Source" (input)="filterSource()">
                            <ul class="suggestions" *ngIf="sourceSuggestions.length > 0">
                                <li *ngFor="let suggestion of sourceSuggestions" (click)="selectSuggestion('source', suggestion)">
                                    {{ suggestion }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="destination">Destination</label>
                            <input type="text" class="form-control" id="destination" [(ngModel)]="destination" placeholder="Enter Destination" (input)="filterDestination()">
                            <ul class="suggestions" *ngIf="destinationSuggestions.length > 0">
                                <li *ngFor="let suggestion of destinationSuggestions" (click)="selectSuggestion('destination', suggestion)">
                                    {{ suggestion }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="departureDate">Departure Date</label>
                            <input type="date" class="form-control" id="departureDate" [(ngModel)]="departureDate">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="spacer-label">Spacer</label>
                            <div class="input-group">
                                <button class="btn btn-primary" (click)="searchBuses()">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="chargesSort">Sort by Price</label>
                            <select class="form-control" [(ngModel)]="chargesSort" (change)="sortBuses()">
                                <option value="all">PRICE</option>
                                <option value="lowToHigh">Low to High</option>
                                <option value="highToLow">High to Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="departureTimesort">Sort by AM|PM</label>
                            <select class="form-control" [(ngModel)]="departureTimesort" (change)="sortBuse()">
                                <option value="all">AM|PM</option>
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>
                        </div>
                    </div>
                    
                </div>

               
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div *ngIf="showBusDetails">
                       
                            <div *ngFor="let bus of filteredBuses">
                                <div class="card my-3">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ bus.source }} - {{ bus.destination }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            Departure Time: {{ bus.departureTime }} | Departure Date: {{ bus.departureDate }}| BusName: {{ bus.busName }}| charges: {{ bus.charges }} | BusId: {{ bus.busId }}|
                                            <br>
                                            Sleeper: {{ bus.sleeper }} | First AC: {{ bus.firstAC }} | Second AC: {{ bus.secondAC }} | Total: {{ bus.total }}
                                        </h6>
                                        <button [ngClass]="{'btn btn-success': selectedBus === bus, 'btn btn-primary': selectedBus !== bus}" class="btn mr-3" (click)="showBusInfo(bus)">Select Seat</button>
                                    </div>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </main>
    <div class="container-fluid">
        <div class="row">
            
<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="position-sticky">
    
  </div>
  
</nav>

            
          
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body> 

</html>


 -->


 <header class="bg-surface-primary border-bottom pt-6">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <!-- Navigation Options -->
                <div class="col-12 text-center">
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <li class="nav-item"><a href="/viewbuses" class="nav-link">View Buses</a></li>
                        <li class="nav-item"><a href="/profile" class="nav-link">Ratings</a></li>
                        <li class="nav-item"><a href="/search" class="nav-link">Search and Book</a></li>
                        <li class="nav-item"><a href="/profileface" class="nav-link">News Journal</a></li>
                        <li class="nav-item"><a href="/viewfeed" class="nav-link">Feedback</a></li>
                     
                        <li class="nav-item"><a href="/login" class="nav-link">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </header>
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bus Search</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <style>
         body {
             background-image: url('https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzfGVufDB8fDB8fHww&w=1000&q=80');
             background-size: cover;
             background-position: center;
             min-height: 700px;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         .suggestions {
       list-style: none;
       padding: 0;
       margin: 0;
       border: 1px solid #ccc;
       border-top: none;
       position: absolute;
       background-color: #fff;
       width: 90%;
       max-height: 100px;
       overflow-y: auto;
       z-index: 1;
     }
 
     .suggestions li {
       padding: 5px 10px;
       cursor: pointer;
     }
 
     .suggestions li:hover {
       background-color: #f0f0f0;
     }
 
    
     .spacer-label {
       visibility: hidden;
     }
 
       
         #sidebar {
     background-color: transparent !important;
     border-right: 1px solid #070707;
 }
 
         
     </style>
 </head>
 
 <body>
     <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
         <h1 class="text-center mt-4">Bus Search</h1>
         <hr>
 
         <div class="row">
             <div class="col-md-2">
                 <div class="form-group">
                     <label for="source">Source</label>
                     <input type="text" class="form-control" id="source" [(ngModel)]="source" placeholder="Enter Source" (input)="filterSource()">
                     <ul class="suggestions" *ngIf="sourceSuggestions.length > 0">
                         <li *ngFor="let suggestion of sourceSuggestions" (click)="selectSuggestion('source', suggestion)">
                             {{ suggestion }}
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col-md-2">
                 <div class="form-group">
                     <label for="destination">Destination</label>
                     <input type="text" class="form-control" id="destination" [(ngModel)]="destination" placeholder="Enter Destination" (input)="filterDestination()">
                     <ul class="suggestions" *ngIf="destinationSuggestions.length > 0">
                         <li *ngFor="let suggestion of destinationSuggestions" (click)="selectSuggestion('destination', suggestion)">
                             {{ suggestion }}
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col-md-2">
                 <div class="form-group">
                     <label for="departureDate">Departure Date</label>
                     <input type="date" class="form-control" id="departureDate" [(ngModel)]="departureDate">
                 </div>
             </div>
             <div class="col-md-2">
                 <div class="form-group">
                     <label class="spacer-label">Spacer</label>
                     <div class="input-group">
                         <button class="btn btn-primary" (click)="searchBuses()">Search</button>
                     </div>
                 </div>
             </div>
             <div class="col-md-2">
                 <div class="form-group">
                     <label for="chargesSort">Sort by Price</label>
                     <select class="form-control" [(ngModel)]="chargesSort" (change)="sortBuses()">
                         <option value="all">PRICE</option>
                         <option value="lowToHigh">Low to High</option>
                         <option value="highToLow">High to Low</option>
                     </select>
                 </div>
             </div>
             <div class="col-md-2">
                 <div class="form-group">
                     <label for="departureTimesort">Sort by AM|PM</label>
                     <select class="form-control" [(ngModel)]="departureTimesort" (change)="sortBuse()">
                         <option value="all">AM|PM</option>
                         <option value="AM">AM</option>
                         <option value="PM">PM</option>
                     </select>
                 </div>
             </div>
         </div>
 
         <div class="row mt-4">
             <div class="col-md-12">
                 <div *ngIf="showBusDetails">
                     <div *ngFor="let bus of filteredBuses">
                         <div class="card my-3">
                             <div class="card-body">
                                 <h5 class="card-title">{{ bus.source }} - {{ bus.destination }}</h5>
                                 <h6 class="card-subtitle mb-2 text-muted">
                                     Departure Time: {{ bus.departureTime }} | Departure Date: {{ bus.departureDate }}| BusName: {{ bus.busName }}|  BusId: {{ bus.busId }}|
                                     FirstACPrice: {{ bus.firstACPrice }}| SecondACPrice: {{ bus.secondACPrice}} | SleeperPrice: {{ bus.sleeperPrice }}|
                                     
<!-- <div>
    First AC Seats:
    <input type="number" [(ngModel)]="selectedFirstACSeats" [max]="getMaxSeats('firstAC', bus)" min="0">
    <span *ngIf="selectedFirstACSeats > getMaxSeats('firstAC', bus)" class="alert alert-danger mt-2">
      You can't select more than {{ getMaxSeats('firstAC', bus) }} First AC seats on this bus.
    </span>
  </div>
  
  
  <div>
    Second AC Seats:
    <input type="number" [(ngModel)]="selectedSecondACSeats" [max]="getMaxSeats('secondAC', bus)" min="0">
    <span *ngIf="selectedSecondACSeats > getMaxSeats('secondAC', bus)" class="alert alert-danger mt-2">
      You can't select more than {{ getMaxSeats('secondAC', bus) }} Second AC seats on this bus.
    </span>
  </div>
  
  <div>
    Sleeper Seats:
    <input type="number" [(ngModel)]="selectedSleeperSeats" [max]="getMaxSeats('sleeper', bus)" min="0">
    <span *ngIf="selectedSleeperSeats > getMaxSeats('sleeper', bus)" class="alert alert-danger mt-2">
      You can't select more than {{ getMaxSeats('sleeper', bus) }} Sleeper seats on this bus.
    </span>
  </div> -->
  <div>
    First AC Seats:
    <input type="number" [(ngModel)]="selectedSeatInfo[bus.busId].selectedFirstACSeats" [max]="getMaxSeats('firstAC', bus)" min="0">
    <span *ngIf="selectedSeatInfo[bus.busId].selectedFirstACSeats > getMaxSeats('firstAC', bus)" class="alert alert-danger mt-2">
      You can't select more than {{ getMaxSeats('firstAC', bus) }} First AC seats on this bus.
    </span>
  </div>
  
  <div>
    Second AC Seats:
    <input type="number" [(ngModel)]="selectedSeatInfo[bus.busId].selectedSecondACSeats" [max]="getMaxSeats('secondAC', bus)" min="0">
    <span *ngIf="selectedSeatInfo[bus.busId].selectedSecondACSeats > getMaxSeats('secondAC', bus)" class="alert alert-danger mt-2">
      You can't select more than {{ getMaxSeats('secondAC', bus) }} Second AC seats on this bus.
    </span>
  </div>
  
  <div>
    Sleeper Seats:
    <input type="number" [(ngModel)]="selectedSeatInfo[bus.busId].selectedSleeperSeats" [max]="getMaxSeats('sleeper', bus)" min="0">
    <span *ngIf="selectedSeatInfo[bus.busId].selectedSleeperSeats > getMaxSeats('sleeper', bus)" class="alert alert-danger mt-2">
      You can't select more than {{ getMaxSeats('sleeper', bus) }} Sleeper seats on this bus.
    </span>
  </div>
  
  <div class="mt-2">
    Total Price: {{ calculateTotalPrice(bus) | currency: 'INR' }}
  </div>
  
  
  

  
  
  

                                 </h6>
                                 <!-- <button [ngClass]="{'btn btn-success': selectedBus === bus, 'btn btn-primary': selectedBus !== bus}" class="btn mr-3" (click)="showBusInfo(bus)">Select Seat</button> -->
                                 <!-- <button [ngClass]="{'btn btn-success': selectedBus === bus, 'btn btn-primary': selectedBus !== bus}"
                                 class="btn mr-3"
                                 [disabled]="selectedFirstACSeats > getMaxSeats('firstAC', bus) || selectedSecondACSeats > getMaxSeats('secondAC', bus) || selectedSleeperSeats > getMaxSeats('sleeper', bus) || (selectedFirstACSeats === 0 && selectedSecondACSeats === 0 && selectedSleeperSeats === 0)"
                                 (click)="showBusInfo(bus)">Select Seat
                               </button> -->
                               <button [ngClass]="{'btn btn-success': selectedBus === bus, 'btn btn-primary': selectedBus !== bus}"
        class="btn mr-3"
        [disabled]="isSelectSeatDisabled(bus)"
        (click)="showBusInfo(bus)">Pay Now
</button>


                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
     </main>
     <div class="container-fluid">
         <div class="row">
             <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                 <div class="position-sticky">
             
                 </div>
             </nav>
         </div>
     </div>
 
 
